# DVC local config (jamais versionné)
.dvc/config.local

# Données téléchargées depuis DVC (ne pas versionner)
data/**/*
!data/**/*.dvc      # Garde les pointeurs .dvc
!data/.gitignore    # Garde les placeholders si besoin
