# DVC local config (jamais versionné)
.dvc/config.local
_

# Ignore tout dans data/
data/*
# Mais pas les sous-dossiers
!data/.gitignore
!data/deps/
!data/outs/

# Ignore tout dans deps et outs
data/deps/*
data/outs/*
# Mais pas les .dvc
!data/deps/*.dvc
!data/outs/*.dvc

azure_function/*/shared/
